<!-- ======= Hero Section ======= -->
<header>
<section id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div class=" ">
        <h2 data-aos="fade-up">Resto Retaurant<br>Opining soon</h2>
        <p data-aos="fade-up" data-aos-delay="100">Vega, New York
          Reviewed yesterday
          
          ★★★☆☆
          <br>
          
          Great mains, pity about the chips
          Came for lunch with my sister.<br>
           We loved our Thai-style mains which were amazing with lots of flavour, very impressive for a vegetarian restaurant.</p>
        
        
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a href="#" class="btn btn-success">Order now</a>
          <br>
          <br>
          <button><a href="https://www.youtube.com/watch?v=ADvf-PIZPLA" class="glightbox btn-watch-video d-flex align-items-center">
          <span>Watch Video</span>
          </a>
          </button>
          </div>
          </div>
   
      
      
  </div>


      

  </div>
</section><!-- End Hero Section -->
</header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-bb0rgfPAgIhpfIoH8H7jOVuN9Ib+5paNT68BdYxh/8J3Z/Bf7T5k1aQVhM6E4l6U" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">